#ESUmodalHeader {
  border-bottom: 0px;
}

/* #emailButtonContainer {
    margin:50px;
} */

#businessSignUpButton {
  background-color: #163b53;
  color: white;
}
#emailSignUpButton {
  background-color: #22859a;
  color: white;
}
