#ESUmodalHeader{
    border-bottom: 0px;
}

/* #emailButtonContainer {
    margin:50px;
} */

#businessSignUpButton{
    background-color: #163B53;
    color: white;
}
#emailSignUpButton{
    background-color: #22859A;
    color: white;
}